@import url(//fonts.loli.net/earlyaccess/notosansscsliced.css);

* {
    padding: 0;
    margin: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #fff;
}

html {
    font-family:'Noto Sans SC Sliced', PingFangSC-Light, Microsoft YaHei UI Light, Microsoft YaHei UI, Microsoft YaHei, helvetica, sans-serif;
    font-weight: 300;
    color: #000;
}

form,
input,
button {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: none;
}

input::-webkit-input-placeholder {
    color: #ccc;
    letter-spacing: 2px;
    font-size: 16px;
}

ul,
li {
    display: block;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

#content {
    width: 100%;
    height: 100%;
}

.con {
    width: 100%;
    transition: 1s all;
    margin: auto;
    min-width: 320px;
    height: 380px;
    position: absolute;
    left: 0;
    top: -100px;
    right: 0;
    bottom: 0;
}

.con .shlogo {
    position: relative;
    width: 480px;
    height: 120px;
    margin: 20px auto;
    background: url(icon/logo.svg) no-repeat center/cover;
}

.con .shlogo a {
    width: 100%;
    display: block;
    width: 100%;
    height: 100%;
}

.con .sou {
    max-width: 680px;
    position: relative;
    width: calc(100% - 60px);
    min-width: 320px;
    margin: 0 auto;
}

.con .sou form {
    width: 100%;
    /*border: 1px solid #ddd;*/
    height: 50px;
    display: block;
    margin: 10px auto 30px;
    position: relative;
}

.con .sou form .wd {
    width: 100%;
    height: 100%;
    display: block;
    border: 1px solid #ddd;
    border-radius: 25px;
    line-height: 100%;
    text-indent: 20px;
    font-size: 18px;
}

.con .sou form .wd:focus {
    background: #fff;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: #fff
}

.con .sou form button {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    z-index: 10;
    right: 6px;
    top:6px;
    cursor: pointer;
    font-size: 18px;
    line-height: 40px;
    border-radius: 50%;
    color: #777;
}

.con .sou ul {
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.con .sou ul li {
    width: 120px;
    margin: 0 10px;
    float: left;
    -webkit-tap-highlight-color: transparent;
    background: #eee;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-indent: 30px;
    cursor: pointer;
    position: relative;
    border-radius: 20px;
}

.con .sou ul li:active {
    background: #ddd;
}

.con .sou ul li i {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    left: 0;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(0.7);
}

.foot {
    position: absolute;
    bottom: 10px;
    z-index: 1000;
    text-align: center;
    width: 100%;
    color: #999;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}

.home{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 70px;
    top: 10px;
    z-index: 200;
    cursor: pointer;
}
.home a{
    font-size: 20px; 
    color: #999;
    line-height: 50px;
    display: block;
    text-align: center;

}

#menu {
    width: 50px;
    height: 50px;
    transform: scale(0.8);
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2000000;
    cursor: pointer;
    transition: 0.5s;
}

#menu i {
    position: absolute;
    left: 0;
    right: 0;
    margin: 24px auto;
    width: 30px;
    height: 2px;
    background: #777;
}

#menu i:before {
    content: '';
    width: 20px;
    height: 2px;
    top: -8px;
    background: #777;
    position: absolute;
    right: 0;
}

#menu i:after {
    content: '';
    width: 20px;
    height: 2px;
    bottom: -8px;
    background: #777;
    position: absolute;
    left: 0;
}

#menu.on {
    right: 370px;
    background: #eee;
    border-radius: 25px;
}

#menu.on i {
    width: 20px;
}

#menu.on i:before {
    top: -5px;
    transform: rotate(45deg);
    width: 14px;
    right: -1px;
    left: auto;
}

#menu.on i:after {
    bottom: -5px;
    transform: rotate(-45deg);
    width: 14px;
    right: -1px;
    left: auto;
}


.list {
    width:337px;
    padding: 0 20px;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    right: -7px;
    z-index: 2000;
    background: #f1f1f1;
    transition: 0.3s all linear;
}

.list.closed {
    right: -380px;
}

.list ul {
    width: 330px;
    float: left;
    padding: 20px 0;
    margin-bottom: 20px;
}

.list ul li {
    float: left;
    margin: 5px;
    width: 100px;
    height: 30px;
    text-align: left;
    line-height: 30px;
    font-size: 12px;
}

.list ul li a {
    width: 100%;
    border-radius: 15px;
    transition: 0.2s all linear;
    height: 100%;
    display: block;
    color: #000;
    font-weight: 500;
    background: #fff;
    text-align: left;
}

.list ul li a i {
    margin-right: 5px;
    margin-left: 15px;
    transition: 0.2s all linear;
}

.list ul li:hover a {
    background: #02f;
    color: #fff;
}
.list ul li:hover a i{
    color: #fff !important;
}

.list ul li.title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin: 10px 0;
    text-align: left;
    text-indent: 10px;
    border-bottom: 1px dashed #dedede;
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

.list ul li.title i {
    color: #02f;
    margin-right: 5px;
}

#tp-weather-widget {
    position: absolute;
    left: 20px;
    top: 20px;
}

@media (max-width: 640px) {
    .con {
        top: 0px;
    }

    .con .shlogo {
        width: 320px;
        height: 100px;
    }

    .con .sou form .wd:focus {
        background: #f1f1f1;
        box-shadow: none;
        border-color: #ccc
    }

    .con .sou form button {
        border-radius: 25px;
    }
    #menu.on {
        right: 270px;
    }
    .list {
        width: 227px;
    }
    .list ul {
        width: 220px;
    }

    .con .sou ul li {
        width: 100px;
        font-size: 12px;
        text-indent: 30px;
    }

    .home,#menu {
        top: 10px;
    }

    #tp-weather-widget {
        left:20px;
        top: 18px;
    }
    #tp-weather-widget.hidden{display: none;}

}

@media (max-height: 360px) {
    .con {
        margin: 0;
        top: 0px;
    }

    .home,#menu,#tp-weather-widget,.foot {
        display: none;
    }
}


::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #f6f6f6;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #747474;
}

::-webkit-scrollbar-corner {
    background: #f6f6f6;
}