@charset "utf-8";

/*
作者:D.Young
主页：https://yyv.me/
github：https://github.com/5iux/sou
日期：2020-03-16
版权所有，请勿删除
*/


/*@import url(//fonts.loli.net/earlyaccess/notosansscsliced.css);*/

* {
    padding: 0;
    margin: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #fff;
}

html {
    font-family: 'Noto Sans SC Sliced', PingFangSC-Light, Microsoft YaHei UI, Microsoft YaHei, helvetica, sans-serif;
    font-weight: 300;
    color: #000;
}

form,
input,
button {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: none;
}

input::-webkit-input-placeholder {
    color: #ccc;
    letter-spacing: 2px;
    font-size: 16px;
}

ul,
li {
    display: block;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

#content {
    width: 100%;
    height: 100%;
}

.con {
    width: 100%;
    transition: 1s all;
    margin: auto;
    min-width: 320px;
    height: 380px;
    position: absolute;
    left: 0;
    top: -100px;
    right: 0;
    bottom: 0;
}

.con .shlogo {
    position: relative;
    width: 480px;
    height: 120px;
    margin: 20px auto;
    background: url(icon/logo.svg) no-repeat center/cover;
}

.con .shlogo a {
    width: 100%;
    display: block;
    width: 100%;
    height: 100%;
}

.con .sou {
    max-width: 680px;
    position: relative;
    width: calc(100% - 60px);
    min-width: 320px;
    margin: 0 auto;
}

.con .sou form {
    width: 100%;
    /*border: 1px solid #ddd;*/
    height: 50px;
    display: block;
    margin: 10px auto 30px;
    position: relative;
}

.con .sou form .wd {
    width: 100%;
    height: 100%;
    display: block;
    border: 1px solid #ddd;
    border-radius: 25px;
    line-height: 100%;
    text-indent: 20px;
    font-size: 18px;
}

.con .sou form .wd:focus {
    background: #fff;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: #fff
}

.con .sou form button {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    z-index: 10;
    right: 6px;
    top: 6px;
    cursor: pointer;
    font-size: 22px;
    line-height: 40px;
    border-radius: 50%;
    color: #777;
}

.con .sou ul {
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.con .sou ul li {
    width: 120px;
    margin: 0 10px;
    float: left;
    -webkit-tap-highlight-color: transparent;
    background: #eee;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-indent: 30px;
    cursor: pointer;
    position: relative;
    border-radius: 20px;
}

.con .sou ul li:active {
    background: #fff;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .1);
}

.con .sou ul li i {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    left: 0;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff; 
    transform: scale(0.7);
}

.foot {
    position: absolute;
    bottom: 10px;
    z-index: 1000;
    text-align: center;
    width: 100%;
    color: #999;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}

.home {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 70px;
    top: 10px;
    z-index: 200;
    cursor: pointer;
}

.home a {
    font-size: 20px;
    color: #999;
    line-height: 50px;
    display: block;
    text-align: center;
}

#menu {
    width: 50px;
    height: 50px;
    transform: scale(0.8);
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 2000000;
    cursor: pointer;
    transition: 0.5s;
}

#menu i {
    position: absolute;
    left: 0;
    right: 0;
    margin: 24px auto;
    width: 30px;
    height: 2px;
    background: #777;
}

#menu i:before {
    content: '';
    width: 20px;
    height: 2px;
    top: -8px;
    background: #777;
    position: absolute;
    right: 0;
}

#menu i:after {
    content: '';
    width: 20px;
    height: 2px;
    bottom: -8px;
    background: #777;
    position: absolute;
    left: 0;
}

#menu.on {
    right: 380px;
    background: #29f;
    border-radius: 25px;
    box-shadow: 0 6px 8px rgba(36, 159, 253, .3);
}

#menu.on i {
    width: 20px;
    background: #fff;
}

#menu.on i:before {
    top: -5px;
    transform: rotate(45deg);
    width: 14px;
    right: -1px;
    left: auto;
    background: #fff;
}

#menu.on i:after {
    bottom: -5px;
    transform: rotate(-45deg);
    width: 14px;
    right: -1px;
    left: auto;
    background: #fff;
}

.list {
    width: 337px;
    padding: 0 20px;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0px;
    z-index: 2000;
    background: #222d46;
    transition: 0.3s all linear;
}

.list.closed {
    right: -380px;
}

.list ul {
    width: 330px;
    float: left;
    padding: 0 0 20px;
    margin-bottom: 20px;
}

.list ul li {
    float: left;
    margin: 5px;
    width: 100px;
    height: 30px;
    text-align: left;
    line-height: 30px;
}

.list ul li a {
    width: 100%;
    border-radius: 5px;
    transition: 0.2s all linear;
    height: 100%;
    display: block;
    color: #fff;
    font-weight: 500;
    background: #293550;
    text-align: left;
    font-size: 12px;
}

.list ul li a i {
    margin-right: 5px;
    margin-left: 15px;
    transition: 0.2s all linear;
}

.list ul li a i.iconfont {
    font-size: 14px;
}

.list ul li:hover a {
    color: #fff;
    background-color: #29f;
    background-image: linear-gradient(135deg, rgba(35, 153, 255) 0%, rgba(84, 175, 253) 100%);
    box-shadow: 0 3px 3px rgba(0, 40, 70, .3);
}

.list ul li:hover a i {
    color: #fff !important;
}

.list ul li.title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin: 30px 0 0;
    text-align: left;
    text-indent: 10px;
    /*border-bottom: 1px dashed #dedede;*/
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.list ul li.title i {
    color: #29f;
    margin-right: 5px;
    font-weight: normal;
}

.mywth {
    position: absolute;
    left: 20px;
    top: 15px;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    z-index: 100000;
}

.mywth .wea {
    display: inline-block;
    height: 18px;
    vertical-align: middle;
    padding-bottom: 3px;
}

.mywth .wea_hover {
    width: 400px;
    padding: 25px 10px;
    position: absolute;
    z-index: 100000;
    font-size: 12px;
    line-height: 20px;
    left: 0;
    top: 30px;
    box-shadow: 5px 5px 5px 0 rgba(33, 150, 243, 0.3);
    border-radius: 15px;
    /* background: #fff; 
    background: linear-gradient(45deg, #549aff,#602fff);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s all;
}

.mywth:hover .wea_hover {
    visibility: visible;
    opacity: 1;
}

.wea_in {
    position: relative;
    float: left;
    width: calc(100% - 20px);
    margin-left: 10px;
}

.wea_top span {
    display: block;
    float: left;
    line-height: 20px;
}

.wea_top span.city {
    width: 100%;
    line-height: 26px;
}

.wea_top span.city b {
    display: inline-block;
    float: left;
    background: #fd0;
    font-size: 14px;
    padding: 0 10px;
    border-radius: 13px;
    color: #06b;
    margin-right: 5px;
}

.wea_top span.img {
    width: 50px;
    height: 120px;
}

.wea_top span.tem {
    width: 120px;
    height: 120px;
    text-align: center;
}

.wea_top span.tem b {
    display: block;
    width: 100%;
    height: 40px;
    font-weight: lighter;
    font-size: 32px;
    line-height: 40px;
    margin-top: 30px;
}

.wea_top span.air {
    height: 40px;
    width: 120px;
    margin-top: 30px;
}

.wea_top span.air_tips {
    text-indent: 15px;
}

.wea_con {
    margin: 20px 10px;
    position: relative;
    float: left;
}

.wea_con ul {
    width: 100%;
    margin-left: 1px;
}

.wea_con ul li {
    float: left;
    width: calc(25% - 12px);
    font-size: 12px;
    overflow: hidden;
    border: 1px solid #eee;
    padding: 0 5px;
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
    position: relative;
    margin: 0 -1px -1px 0;
}

.wea_con ul li b {
    color: #fd0;
    font-size: 14px;
}

.wea_con ul li:hover {
    background: rgba(255, 255, 255, 0.3);
    color: #000;
}

.wea_con ul li i {
    display: none;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 16px;
    margin: 5px 0;
}

.wea_foot ul {
    position: relative;
    float: left;
    width: 100%;
}

.wea_foot ul li {
    float: left;
    width: 33.3%;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
}

.wea_foot ul li img {
    display: inline-block;
    vertical-align: center;
    height: 30px;
    margin: 5px;
}

.wea_foot ul li b {
    color: #0f0;
    font-weight: normal;
}

.wea_foot ul li i {
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 640px) {
    .con {
        top: 0px;
    }
    .con .shlogo {
        width: 320px;
        height: 100px;
    }
    .con .sou form .wd:focus {
        background: #f1f1f1;
        box-shadow: none;
        border-color: #ccc
    }
    .con .sou form button {
        border-radius: 25px;
    }
    #menu.on {
        right: 270px;
    }
    .list {
        width: 227px;
    }
    .list ul {
        width: 220px;
    }
    .con .sou ul li {
        width: 100px;
        font-size: 12px;
        text-indent: 30px;
    }
    .home,
    #menu {
        top: 5px;
    }
    .mywth {
        color: #777;
        left: 10px;
        top: 20px;
    }
    .mywth .wea_hover {
        display: none;
    }
    .mywth.hidden {
        display: none;
    }
}

@media (max-height: 420px) {
    .con {
        margin: 0;
        top: 0px;
    }
    .con .sou form .wd {
        text-indent: 50px;
    }
    .con .sou form:after {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        left: 10px;
        top: 10px;
        background: url(icon/lg.svg) no-repeat center/cover;
        border-radius: 50%;
        overflow: hidden;
    }
    .con .shlogo {
        display: none;
    }
    .home,
    #menu,
    .mywth,
    .foot {
        display: none;
    }
}
@media (prefers-color-scheme: dark) 
{
    body {
        background-color: #162035;
    }
    .mywth {
        color: #bbb;
    }
    .mywth .wea_hover{
        box-shadow: none;
    }
    .con .sou ul li{
        background: #293550;
        color: #fff;
    }
    .con .sou form .wd:focus {
        background: #293550;
        border: 1px solid #162035;
    }
    .con .sou form .wd {
        border: 1px solid #293550;
        color: #bbb;
    }
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #222d46;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    background: #293550;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #293550;
}

::-webkit-scrollbar-corner {
    background: #222d46;
}