* {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: "microsoft yahei", helvetica, sans-serif;
    font-weight: 300;
    color: #000;
}

html,
body {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

form,
input,
button {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: none;
}

input::-webkit-input-placeholder {
    color: #ccc;
    letter-spacing: 2px;
    font-size: 16px;
}

ul,
li {
    display: block;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.con {
    width: 100%;
    transition: 1s all;
    margin: auto;
    min-width: 320px;
    height: 380px;
    position: absolute;
    left: 0;
    top: -100px;
    right: 0;
    bottom: 0;
}

.con .shlogo {
    position: relative;
    width: 480px;
    height: 120px;
    margin: 20px auto;
    background: url(img/logo.svg) no-repeat center/cover;
}

.con .shlogo a {
    width: 100%;
    display: block;
    width: 100%;
    height: 100%;
}

.con .sou {
    max-width: 680px;
    position: relative;
    width: calc(100% - 60px);
    min-width: 320px;
    margin: 0 auto;
}

.con .sou form {
    width: 100%;
    /*border: 1px solid #ddd;*/
    height: 50px;
    display: block;
    margin: 10px auto 30px;
    position: relative;
}

.con .sou form .wd {
    width: 100%;
    height: 100%;
    display: block;
    border: 1px solid #ccc;
    line-height: 100%;
    text-indent: 20px;
    font-size: 18px;
}

.con .sou form .wd:focus {
    background: #eee;
}

.con .sou form button {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    z-index: 10;
    right: -1px;
    top: 1px;
    background: url(icon/btn2.svg) no-repeat center/60%;
}

.con .sou ul {
    width: 280px;
    height: 40px;
    margin: 0 auto;
}

.con .sou ul li {
    width: 120px;
    margin: 0 10px;
    float: left;
    background: #eee;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-indent: 30px;
    cursor: pointer;
    position: relative;
    border-radius: 20px;
}

.con .sou ul li:active {
    background: #ddd;
}

.con .sou ul li i {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    left: 0;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(0.7);
}

.foot {
    position: absolute;
    bottom: 10px;
    z-index: 1000;
    text-align: center;
    width: 100%;
    color: #999;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}

#menu {
    width: 50px;
    height: 50px;
    transform: scale(0.8);
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2000000;
    cursor: pointer;
    transition: 0.5s;
}

#menu i {
    position: absolute;
    left: 0;
    right: 0;
    margin: 24px auto;
    width: 30px;
    height: 2px;
    background: #aaa;
}

#menu i:before {
    content: '';
    width: 30px;
    height: 2px;
    top: -8px;
    background: #aaa;
    position: absolute;
    left: 0;
    transition: 0.5s;
}

#menu i:after {
    content: '';
    width: 30px;
    height: 2px;
    bottom: -8px;
    background: #aaa;
    position: absolute;
    left: 0;
    transition: 0.5s;
}

#menu.on {
    right: 270px;
}

#menu.on i {
    width: 20px;
}

#menu.on i:before {
    top: -5px;
    transform: rotate(45deg);
    width: 14px;
    right: -1px;
    left: auto;
}

#menu.on i:after {
    bottom: -5px;
    transform: rotate(-45deg);
    width: 14px;
    right: -1px;
    left: auto;
}

.list {
    width: 227px;
    padding: 0 20px;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    right: -7px;
    z-index: 2000;
    background: #f1f1f1;
    transition: 0.3s all linear;
    opacity: 0.8;
}

.list.closed {
    right: -270px;
}

.list ul {
    width: 220px;
    float: left;
    padding: 20px 0;
}

.list ul li {
    float: left;
    margin: 5px;
    width: 100px;
    height: 30px;
    text-align: left;
    line-height: 30px;
    font-size: 12px;
}

.list ul li a {
    width: 100%;
    border-radius: 15px;
    transition: 0.2s all linear;
    text-indent: 20px;
    height: 100%;
    display: block;
    color: #000;
    font-weight: bold;
    background: #fff;
}

.list ul li:hover a {
    background: #02f;
    color: #fff;
}

.list ul li.title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin: 10px 0;
    text-align: left;
    text-indent: 10px;
    border-bottom: 1px dashed #dedede;
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

.list ul li.title i {
    color: #02f;
    margin-right: 5px;
}

@media (max-width: 640px) {
    .con {
        top: 0px;
    }

    .con .shlogo {
        width: 320px;
        height: 100px;
    }

    .con .sou form .wd {
        border-radius: 25px;
    }

    .con .sou form button {
        border-radius: 25px;
    }

    .con .sou ul {
        width: 240px;
    }

    .con .sou ul li {
        width: 100px;
        font-size: 12px;
        text-indent: 30px;
    }
}

@media (max-height: 360px) {
    .con {
        margin: 0;
        top: 0px;
    }

    .foot {
        display: none;
    }
}


::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #f6f6f6;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #747474;
}

::-webkit-scrollbar-corner {
    background: #f6f6f6;
}