* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    width: 100%;
    height: 100%;
    color: #000;
    background: #f3f3f3;
    font-size: 14px;
    font-family: PingFangSC-Light, Microsoft YaHei UI Light, Microsoft YaHei UI, Microsoft YaHei, helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

#header {
    width: 100%;
    position: relative;
    height: 80px;
    background: #fff;
    line-height: 60px;
    text-align: center;
}

#header .logo {
    height: 60px;
    width: 150px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 20;
    background: url(../movies/img/280x280.jpg) no-repeat left top/contain;
    font-size: 21px;
    text-indent: 50px;
}

ul.bar {
    width: 40px;
    position: fixed;
    z-index: 10;
    bottom: 15px;
    right: 15px;
}

ul.bar li {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    background: #ddd;
    border-radius: 10px;
}

ul.bar a {
    color: #fff;
    display: block;
}

#content {
    width: calc(100% - 20px);
    max-width: 1100px;
    position: relative;
    margin: 0 auto 20px;
}

#content .search {
    width: calc(100% - 40px);
    float: left;
    padding: 30px 20px;
    height: 40px;
    background: #fff;
    border-radius: 10px;
    margin-top: 10px;
}

#content .search form {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    max-width: 450px;
    border: none;
}

#content .search form #wd {
    display: block;
    width: calc(100% - 80px);
    background: #ddd;
    text-indent: 20px;
    height: 100%;
    float: left;
    height: 100%;
    border: none;
}

#content .search form #submit {
    display: block;
    cursor: pointer;
    width: 80px;
    background: #000;
    color: #fff;
    font-size: 14px;
    line-height: 40px;
    height: 100%;
    text-align: center;
    float: left;
    height: 100%;
    border: none;
}

#content .bd {
    width: calc(100% - 40px);
    float: left;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    margin: 10px 0;
}

#content .bd #title {
    width: 100%;
    text-indent: 10px;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: left;
    font-size: 18px;
    color: #000;
}

#content .bd ul#nav {
    width: 100%;
    display: block;
    margin: 10px 0;
}

#content .bd ul#nav li {
    margin: 0 0 20px 10px;
    float: left;
    background: #eee;
    border-radius: 10px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
}

#content .bd ul#nav li.on {
    background: #000;
}

#content .bd ul#nav li a {
    display: block;
    color: #000;
    padding: 0 10px;
}

#content .bd ul#nav li.on a {
    color: #fff;
}

#content .bd ul#list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#content .bd ul#list li {
    width: 120px;
    margin: 10px;
    padding: 10px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 10px;
    transition: 0.3s all;
}

#content .bd ul#list li a {
    display: block;
    position: relative;    
    border-radius: 5px;
}

#content .bd ul#list li img {
    position: relative;
}
#content .bd ul#list li a:after {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 60px;
    background: url(/movies/img/msk.png) no-repeat center/cover;
    top: 115px;
}

#content .bd ul#list li span {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

#content .bd ul#list li em {
    display: block;
    text-align: center;
    font-style: normal;
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    position: absolute;
    top: 156px;
    z-index: 100;
    left: 0;
    color: #fff;
}

#content .bd ul#list li em b {
    color: #e09015;
}

#content .bd ul#list li:hover {
    background: #fff;
    box-shadow: 0 1px 20px 0 #ddd;
}

#content .bd #more {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    line-height: 30px;
}

#content .bd #more a {
    display: block;
    width: 180px;
    background: #eee;
    height: 30px;
    border-radius: 15px;
    color: #999;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
}

#foot {
    clear: both;
    font-size: 12px;
    text-align: center;
    width: 100%;
    position: relative;
    margin: 0 auto;
    background: #fff;
    line-height: 20px;
    padding: 20px 0;
    color: #999;
}

#foot span {
    line-height: 50px;
}

#foot span a {
    color: #f03;
}

@media (max-width: 640px) {
    ul.bar {
        right: 3px;
    }
}